body {
  font-family: sans-serif;
}

#button-container {
  text-align: right;
  margin-top: 10px;
}

#save-button {
  padding: 8px;
  width: 60px;
  background-color: #4e7699;
  color: white;
  border: none;
  border-radius: 5%;
}

img {
  width: 95%;
}

main {
  margin-top: 30px;
  margin-bottom: 60px;
}

#nav {
  height: 80px;
  background-color: #4e7699;
  color: #e6e8eb;
}

header {
  text-align: center;
}

.inputBox {
  width: 95%;
  height: 30px;
}

input,
textarea {
  background-color: #e6e8eb;
}
